<section class="product-comments" ng-show="panel.isSelected(2)">

  <section class="comment-list" >
    <myshop-product-comment ng-repeat="comment in comments"></myshop-product-comment>
  </section>

  <section class="comment-creation" ng-show="userCanCreateComment">
    <button ng-class="{hidden:commentCtrl.formVisible}"
            class="btn btn-default"
            ng-click="commentCtrl.showForm()">
      Kommentar hinterlassen
    </button>

    <form name="commentForm" novalidate ng-show="commentCtrl.formVisible" ng-submit="commentCtrl.saveComment()">

      <div class="form-group" show-errors>
        <label for="comment">Kommentar:</label>
              <textarea class="form-control" id="comment" name="comment" ng-model="comment.content"
                        placeholder="Schreib hier deinen Kommentar hin und drücke dannach auf Speichern"
                        required></textarea>

        <div class="help-block">Kommentar ist notwendig</div>
      </div>

      <div class="form-group">
        <input type="submit" value="Speichern" class="form-control">
      </div>
    </form>
  </section>

</section>
