<section class="myshop-cart">

  <h4>Warenkorb:</h4>
  <table class="table table-hover">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>EP</th>
      <th>GP</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="entry in items">
      <td>
        <span ng-show="!entry.edit">{{entry.amount}}</span>
        <div class="input-group" ng-show="entry.edit">
          <input type="number" class="form-control" ng-model="entry.amount">
          <span class="input-group-btn">
            <a class="btn btn-default" ng-click="toggleEditState(entry)">Ok</a>
          </span>
        </div>
      </td>
      <td>{{entry.item.title}}</td>
      <td>{{entry.item.price | currency:'€ '}}</td>
      <td>{{entry.item.price * entry.amount| currency:'€ '}}</td>
      <td><a ng-click="toggleEditState(entry)"><span class="glyphicon glyphicon-pencil"></span></a></td>
      <td><a ng-click="removeEntry(entry)"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    <tr>
      <td></td>
      <td><strong>Total</strong></td>
      <td></td>
      <td><strong>{{ getTotal() | currency:'€ '}}</strong></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <footer class="pull-right">
    <a class="btn btn-default" ng-click="clearCart()">Warenkorb leeren</a>
    <a class="btn btn-default" ng-click="checkout()">bestellen</a>
  </footer>
</section>
