<section class="myshop-products row">

  <section class="categories col-sm-3">

    <header>
      <span>Kategorien:</span>
      <span class="pull-right" ng-show="userCanCreateProduct"><a ng-href="#/categories"><span class="glyphicon glyphicon-edit"></span></a></span>
    </header>

    <div ng-show="!editCategories">
      <myshop-category-select active-category="activeCategory"></myshop-category-select>
    </div>

    <div ng-show="editCategories">
      <myshop-categories-edit></myshop-categories-edit>
    </div>
  </section>


  <section class="products col-sm-9">
    <header>
      <span>{{ caption }}</span>
      <span ng-show="userCanCreateProduct"><a ng-href="#/products/new"><span class="glyphicon glyphicon-plus-sign"></span></a></span>
    </header>
    <section class="product" ng-repeat="product in products">

      <header>{{ product.title }}</header>

      <myshop-product-details></myshop-product-details>

      <footer>
        <a class="btn btn-info"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-shopping-cart"></span></a>
          <span class="pull-right" ng-show="userCanEditProduct(product)">
            <a ng-href="#/products/{{product.id}}/edit" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span></a>
            <a ng-click="removeProduct(product)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
          </span>
      </footer>
      <hr>

    </section>
  </section>
</section>


