<section>
  <header>{{ caption }}</header>
  <form name="productForm" novalidate ng-submit="save()">

    <div class="form-group" show-errors>
      <label for="product-title">Titel:</label>
      <input type="text" name="product-title" id="product-title" class="form-control"
             ng-model="product.title" required>

      <div class="help-block">Titel ist erforderlich</div>
    </div>

    <div class="form-group" show-errors>
      <label for="product-category">Kategorie:</label>
      <select name="product-category" id="product-category" ng-options="category.name for category in categories track by category.name"
              ng-model="category"
              class="form-control"
              required></select>

      <div class="help-block">Kategorie ist erforderlich</div>
    </div>

    <div class="form-group" show-errors>
      <label for="product-description">Beschreibung:</label>
      <textarea ng-model="product.description" name="product-description" id="product-description" rows="10"
                class="form-control" required></textarea>

      <div class="help-block">Beschreibung ist erforderlich</div>
    </div>

    <div class="form-group" show-errors>
      <label for="price">Preis:</label>
      <input type="number" id="price" ng-model="product.price" required class="form-control">
      <div class="help-block">Preis ist erforderlich</div>
    </div>

    <div class="form-group">
      <input type="submit" value="Speichern" class="form-control">
    </div>
  </form>

  <h4>Vorschau</h4>
  <section class="product">

    <header>{{ product.title }}</header>

    <myshop-product-details></myshop-product-details>

    <hr>
  </section>

</section>
</section>
