<section class="myshop-products row">

  <section class="categories col-sm-3">

    <header>
      <span>Kategorien:</span>
      <span class="pull-right" ng-show="userCanCreateCategory">
        <a ng-href="#/categories"><span class="glyphicon glyphicon-edit"></span></a></span>
    </header>

    <div ng-show="!editCategories">
      <myshop-category-select active-category="activeCategory"></myshop-category-select>
    </div>

    <div ng-show="editCategories">
      <myshop-categories-edit></myshop-categories-edit>
    </div>
  </section>


  <section class="products col-sm-9">
    <header>
      <span>{{ caption }}</span>
      <span ng-show="userCanCreateProduct"><a ng-href="#/products/new"><span
        class="glyphicon glyphicon-plus-sign"></span></a></span>
    </header>
    <section class="product" ng-repeat="product in products">

      <header>
        <span>{{ product.title }}</span>
        <span class="pull-right">{{product.price | currency:'€ '}}</span>
      </header>

      <myshop-product-details></myshop-product-details>



      <footer>
        <a class="btn btn-info" ng-click="addToCart(product)">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <a twitter class="twitter-share-button"
           data-text="Have you seen this amazing product?"
           data-url="{{window.location}}"
           data-hashtags="myShop"></a>
        <span class="pull-right" ng-show="userCanEditProduct(product)">
            <a ng-href="#/products/{{product.id}}/edit" class="btn btn-warning">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a ng-click="removeProduct(product)" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
        </span>
      </footer>
      <hr>

    </section>

    <h2>Andere Shops in deiner Nähe:</h2>
    <leaflet lf-center="map.center" defaults="map.defaults" layers="map.layers" markers="map.markers" style="width: 100%; height: 480px"></leaflet>

  </section>
</section>


